/* ==========================================================================
   #Description
   ========================================================================== */

@import "../../styles/settings/settings.global";

.title {
  color: $colour-two;
  line-height: 1.4;
  margin-bottom: 0;
  text-transform: capitalize;
}

.subTitle {
  display: block;
  font-weight: 600;
  line-height: 1.8;
}

.emphasis {
  color: $colour-four;
  font-weight: 700;
}
