/* ==========================================================================
   #COLOUR
   Use '!important' deliberately here – we always want trump classes to take
   ========================================================================== */

.u-colour-alpha   { color: $colour-one   !important; } // WHITE
.u-colour-beta    { color: $colour-two   !important; } // DARK GREY
.u-colour-gamma   { color: $colour-three !important; } // LIGHT GREY
.u-colour-delta   { color: $colour-four  !important; } // BLUE

.u-bg-alpha   { background-color: $colour-one   !important; } // WHITE
.u-bg-beta    { background-color: $colour-two   !important; } // DARK GREY
.u-bg-gamma   { background-color: $colour-three !important; } // LIGHT GREY
.u-bg-delta   { background-color: $colour-four  !important; } // BLUE
