/* ==========================================================================
   #Tab
   ========================================================================== */

@import "../../styles/settings/settings.global";
@import "../../styles/tools/tools.functions";

// Ensure these settings are configured before the @import of this file.
$tab-height: 120px !default;

.tab {
  background-color: $colour-four;
  color: $colour-one;
  display: inline-flex;
  font-weight: 700;
  flex-direction: column;
  justify-content: flex-end;
  height: $tab-height;
  line-height: 1;
  margin-bottom: 0;
  padding: rem-calc($base-spacing-unit-tiny);
}