/* ==========================================================================
   #Link
   ========================================================================== */

@import "../../styles/settings/settings.global";

.link {
  color: $colour-four;
  display: inline-block;
  font-weight: 600;
}